name: CI/CD - Build, Push, & Deploy

on:
  workflow_dispatch: {}

  push:
    branches: [main]
    paths:
      - "app/**"
      - "k3s/manifest.yaml"

jobs:
  # =======================================================
  # JOB 1: CI (Build e Push para GHCR)
  # =======================================================

  build-and-push:
    runs-on: ubuntu-latest

    permissions:
      packages: write
      contents: read

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and Push to GHCR
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ghcr.io/${{ github.actor }}/pipoca:${{ github.run_id }},ghcr.io/${{ github.actor }}/pipoca:latest

  # =======================================================
  # JOB 2: CD (Deploy no K3s)
  # =======================================================

  deploy:
    needs: build-and-push
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Kubeconfig
        run: |
          mkdir -p ~/.kube
          echo "${{ secrets.KUBE_CONFIG_DATA }}" > ~/.kube/config

      - name: Install Kubectl
        uses: azure/setup-kubectl@v3

      - name: Inject Dynamic Tag and Deploy to K3s
        run: |
          TAG_VERSION=${{ github.run_id }}
          MANIFEST_FILE="k3s/manifest.yaml"

          echo "--- Deploying version: $TAG_VERSION ---"

          sed -i "s|__TAG_VERSION__|$TAG_VERSION|g" "$MANIFEST_FILE"
          kubectl apply -f "$MANIFEST_FILE"
          kubectl rollout status deployment/pipoca-app -n pipoca --timeout=5m
